<div class="container-fluid">
  <div class="row p-3">
    <div class="col">
      <mat-form-field>
        <mat-label>Custom input with ngModel</mat-label>
        <app-custom-mat-form-field #customInput [(ngModel)]="customValue" [required]="true"></app-custom-mat-form-field>
        <mat-hint>Required</mat-hint>
        <mat-error>This field is required</mat-error>
      </mat-form-field>
      <p>value: {{ customInput.value| json }}</p>
      <p>errorState: {{ customInput.errorState| json }}</p>
      <p>customValue: {{ customValue| json }}</p>
    </div>

    <div class="col">
      <mat-form-field>
        <mat-label>Custom input with formControl</mat-label>
        <app-custom-mat-form-field [formControl]="customControl" [required]="true">
        </app-custom-mat-form-field>
        <mat-hint>Required</mat-hint>
        <mat-error>This field is required</mat-error>
      </mat-form-field>
      <p>value: {{ customControl.value | json }}</p>
      <p>invalid: {{ customControl.invalid | json }}</p>
      <p>touched: {{ customControl.touched | json }}</p>
      <p>errors: {{ customControl.errors | json }}</p>
    </div>

    <div class="col">
      <mat-form-field>
        <mat-label>Custom input with formControl</mat-label>
        <app-custom-mat-form-field [formControl]="customControl2" [required]="true">
        </app-custom-mat-form-field>
        <mat-hint>Required and minLength: 3</mat-hint>
        <mat-error>
          <ng-container *ngIf="customControl2.hasError('required')">
            This field is required
          </ng-container>
          <ng-container *ngIf="customControl2.hasError('minlength')">
            Value must be at least 3 character
          </ng-container>
        </mat-error>
      </mat-form-field>
      <p>value: {{ customControl2.value | json }}</p>
      <p>invalid: {{ customControl2.invalid | json }}</p>
      <p>touched: {{ customControl2.touched | json }}</p>
      <p>errors: {{ customControl2.errors | json }}</p>
    </div>

    <div class="col">
      <mat-form-field>
        <mat-label>Custom input with formControl</mat-label>
        <app-custom-mat-form-field [formControl]="customControl3">
        </app-custom-mat-form-field>
        <mat-hint>This field is disabled.</mat-hint>
      </mat-form-field>
      <p>value: {{ customControl.value | json }}</p>
      <p>invalid: {{ customControl.invalid | json }}</p>
      <p>touched: {{ customControl.touched | json }}</p>
      <p>errors: {{ customControl.errors | json }}</p>
    </div>
  </div>
</div>
